@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--wake-on: var(--color-emerald-600);
	--wake-off: var(--color-red-600);
}

.wake-on {
	transition: color 0.3s ease-in-out;
	color: var(--wake-on);
}

.wake-off {
	transition: color 0.3s ease-in-out;
	color: var(--wake-off);
}
